*{
    margin: 0;
    padding: 0;
}

.bataille {
      height: 100vh;
  background-image:
    linear-gradient(rgba(30, 18, 10, 0.7), rgba(15, 9, 5, 0.9)),
    url(../../assets/images/champ.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
